{% load static %}
<html>
    <head>
        <title>Dashboards - Julia & Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h2><a href="/">Julia & Django Girls Blog</a></h2>
            <h1><a href="{% url 'dashboards' %}">Dashboards</a></h1>
        </div>
        <div class="overview">
            <table>
                <tr>
                    <th>Header1</th><th>Header2</th><th>Header3</th>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                </tr>
            </table>
        </div>
    </body>
</html>
