{% load static %}
<html>
    <head>
        <title>Julia & Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <div><iframe src="https://yandex.ru/covid19/stat/widget/light/?geoId=11079" width=200 height=170 frameborder="0"></iframe></div>
            <h1><a href="/">Julia & Django Girls Blog</a></h1>
            <h2><a href="{% url 'dashboards' %}">Dashboards</a></h2>
            {% if user.is_authenticated %}
                <h3>
                    <p>
                        Hello {{ user.username }} (<a href="{% url 'logout' %}">Log out</a>)<br>
                        <a href="{% url 'post_new' %}">New post</a>
                        <a href="{% url 'post_draft_list' %}">Drafts</a>
                    </p>
                </h3>
            {% else %}
                <h3>
                    <a href="{% url 'login' %}">Login</a>
                </h3>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
